extends layouts/main.pug


block content
    .editProfile   
        .form-container
            form(action=routes.editProfile, method="post")
                label(for="avata") Avata
                input(type="file", name="avatar", placeholder="avata")
                input(type="text", name="name", placeholder="Name")

                input(type="email", name="email", placeholder="Email")
                input(type="password", name="password", placeholder="Password")
                input(type="password", name="password2", placeholder="Verify Password")
                input(type="submit", value="Update Profile")
                a.form-container(href="loutes.changePassword") ChangePassword